
#gameBoard{
    width: 640px;
    height: 640px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.square svg {
    height: 60px;
    width: 60px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
.square{
    height: 80px;
    width: 80px;
    position: relative;
}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;
}
.white{
    background-color: rgb(102, 95, 95);
}
.black{
    background-color: rgb(80, 19, 19);
}

.blackPiece{
    fill: black;
}
.whitePiece{
    fill: white;
}
